humanitec_organization = ""
humanitec_token        = ""

app = ""


dns_shared_resource_name = "shared-dns"
dns_shared_domain        = "subdomain.domain.tld" # https://app-env.subdomain.domain.tld/{workload}

# dns_local_resource_name = "local-dns"
# dns_local_domain        = "subdomain.domain.tld" #https://app-env-workload.subdomain.domain.tld

ingress_resource_name = "shared-alb"
# please make sure you have the same values within manifest/ingress.yaml
ingress_cert_arn      = "arn:aws:acm:ca-central-1:111111111111:certificate/xxx"
ingress_group_name    = "humanitec-public"
