access_key      = ""
secret_key      = ""
assume_role_arn = ""
region          = "ca-central-1"


humanitec_organization = ""
humanitec_token        = ""

app = "myapp"

cluster_non_prod_oidc = ""
cluster_prod_oidc = ""

